/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(to right, #4A90E2, #F1C40F);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: rgba(0, 0, 0, 0);
    width: 450px;
    padding: 1.5rem;
    margin: 50px auto;
    border-radius: 15px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    position: relative;
    transition: 0.3s;
    z-index: 1;
}
 
.container:hover{
    transform: scale(1.05);
}

#signup {
    display: none;
}

/* Form styles */
form {
    margin: 0 2rem;
}

.form-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding: 1.3rem;
    margin-bottom: 0.4rem;
    color: #051320;
}

.input-group {
    padding: 1% 0;
    position: relative;
}

.input-group i {
    position: absolute;
    color: #0056b3;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

input {
    color: inherit;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #c0c0c0;
    padding: 12px 35px;
    font-size: 15px;
}

input:focus {
    background-color: transparent;
    outline: none;
    border-bottom: 2px solid #0056b3;
    box-shadow: 0 0 5px rgba(0, 86, 179, 0.3);
}

input::placeholder {
    color: #999;
}

label {
    color: #777;
    position: absolute;
    left: 3rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: auto;
    transition: 0.3s ease all;
}

input:focus ~ label,
input:not(:placeholder-shown) ~ label {
    top: -1.5rem;
    color: #0056b3;
    font-size: 15px;
}

.error {
    color: red;
    font-size: 0.9rem;
    margin: 0.5rem 0;
    text-align: center;
}

.btn {
    font-size: 1.1rem;
    padding: 8px 0;
    border-radius: 5px;
    outline: none;
    border: none;
    width: 100%;
    background: hsl(211, 100%, 35%);
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btn:hover {
    background-color: #3878bb;
  transform: scale(1.05);
}

.btn:disabled {
    background: #cccccc;
    cursor: not-allowed;
}

.links {
    display: flex;
    justify-content: space-around;
    padding: 0 4rem;
    margin-top: 0.9rem;
    font-weight: bold;
}

button {
    color: #0056b3;
    border: none;
    background-color: transparent;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    text-decoration: underline;
    color: #004085;
}